---
layout: default
title: Home
---
<div>
	<blockquote>
		<p><b>	We decide only on how to use the time that we were given. </b>
		<span  style="float: right;"> <i> - J.R.R Tolkien, The Fellowship of the Ring  </i> </span>
		</p>
	</blockquote>
	<br>
	<i> And so I blog, about my discoveries, about my passion, about my thoughts and about my work.</i>
</div>			

<div class="Hero">
			<h3 align="center">
			
				{% for home in site.author.home %}
				{% assign iconname = home[0] %}
				{% assign metadata = home[1] | split:'||' %}
				 
				<a href="{{ metadata[0] }}">
				<i class="fa fa-{{ iconname }}" aria-hidden="true"> {{ metadata[1] }} </i>
				</a>
				{% assign current_index = current_index | plus: 1 %}
				{% if current_index != len %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
				{% endfor %}
			
			</h3>							
</div>

