---
layout: default
title: Home
---
<div>
	<blockquote>
		<p><b>	We decide only on how to use the time that we were given. </b>
		<span  style="float: right;"> <i> - J.R.R Tolkien, The Fellowship of the Ring  </i> </span>
		</p>
	</blockquote>
	<br>
	<i> And so I blog, about my discoveries, about my passion, about my thoughts and about my work.</i>
</div>			

<div >
				<h3>
				<div style="float: left; width:13%">
                    &nbsp;
                </div>


				{% for home in site.author.home %}
					{% assign iconname = home[0] %}
					{% assign metadata = home[1] | split:'||' %}
					<div style="float: left; width:26%">
					<center>
						<font size="18">
                    	<a href="{{ metadata[0] }}">
                        <i class="fa fa-{{ iconname }}" aria-hidden="true"></i>
                    	</font>
                    	<p class="outline" style="color:#6a9fb5;">
                        {{ metadata[1] }}
                    	</p>
                    	</a>
                 	</center>
                 	</div>
                 	{% assign current_index = current_index | plus: 1 %}
				{% endfor %}
                
                <br style="clear: left;" />
				</h3>
			
</div>

<div >
				<h3>
				<div style="float: left; width:13%">
                    &nbsp;
                </div>


				{% for home in site.author.subhome %}
					{% assign iconname = home[0] %}
					{% assign metadata = home[1] | split:'||' %}
					<div style="float: left; width:26%">
					<center>
						<font size="18">
                    	<a href="{{ metadata[0] }}">
                        <i class="fa fa-{{ iconname }}" aria-hidden="true"></i>
                    	</font>
                    	<p class="outline" style="color:#6a9fb5;">
                        {{ metadata[1] }}
                    	</p>
                    	</a>
                 	</center>
                 	</div>
                 	{% assign current_index = current_index | plus: 1 %}
				{% endfor %}
                
                <br style="clear: left;" />
				</h3>
			
</div>
